extends layout

block content
  h1= '선인고등학교 노트북 관리 시스템'
  form(action="./", method="get")
    input(type="text", name="name")
    input(type="submit", value="확인")

  #login
    form(action="/auth/login", method="post")
      input(type="text", name="name")
      br
      input(type="password", name="pw")
      input(type="submit", value="로그인")

  #footer
    p= username
    a(href="/auth/logout") 로그아웃